.shop-detail {
    display: flex;
}
.shop__item {
    width: 50%;
}
.shop-detail__card {
    margin: 30px;
}
.shop-detail__card img {
    width: 100%;
}
.card__tag {
    display: flex;
}
.card__comment {
    font-size: 17px;
}